body {
    background-color: #f8f8f8;
    color: black;
    font-size: 400;
    font-weight: 1.5rem;
    font-family: 'rubikregular';
}

@font-face {
    font-family: 'rubikregular';
    src: url('./fonts/rubik-regular-webfont.woff2') format('woff2'),
         url('./fonts/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'righteousregular';
    src: url('./fonts/righteous-regular-webfont.woff2') format('woff2'),
         url('./fonts/righteous-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

::-webkit-scrollbar {
    width: 0px;
}

.css-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    width: 100%;
    color: #f02e65;
    display: flex;
    font-size: 26px;
    font-weight: 400;
    background-color: transparent;
    opacity: 85%;
    margin: auto;
}

.css-navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    width: 55%;
    color: #40404c;
    display: flex;
    font-size: 26px;
    font-weight: 400;
    margin: auto;
    justify-content: center;;
}

.css-navbar a {
    text-decoration: none;
}

.css-navbar .css-nav-item {
    cursor: pointer;
    margin-right: 8.5px;
    margin-left: 8.5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 4px;
    margin-top: 32px;
    text-transform: uppercase;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-size: 18px;
    color: #40404c;
    text-decoration: none;
    -webkit-user-select: none; /*(Chrome/Safari/Opera)*/ 
    -moz-user-select: none;/*(Firefox)*/ 
    -ms-user-select: none;/*(IE/Edge)*/ 
}

.css-navbar .css-nav-item:hover {
    color: #e31937;
    background-color: #e9e7e7;
    border-radius: 5px;
}

.css-home {
    width: 75%;
    max-width: 75%;
    flex-wrap: wrap;
    height: 680px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 125px;
}

.css-home .css-home-info .css-home-title {
    color: #e31937;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 64px;
    line-height: 70px;
    font-weight: 700;
    font-weight: 600;
    opacity: .75;
    -webkit-user-select: none; /*(Chrome/Safari/Opera)*/ 
    -moz-user-select: none;/*(Firefox)*/ 
    -ms-user-select: none;/*(IE/Edge)*/     
}

.css-home .css-home-info .css-home-bio {
    opacity: .75;
    color:#40404c;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0px;
    max-width: 650px;
    -webkit-user-select: none; /*(Chrome/Safari/Opera)*/ 
    -moz-user-select: none;/*(Firefox)*/ 
    -ms-user-select: none;/*(IE/Edge)*/     
}

.css-home .css-home-image-frame .css-home-image {
    height: 560px;
    width: 560px;
    border-top-right-radius: 140px;
    border-bottom-left-radius: 140px;
    margin-left: 105px;
    box-shadow: 0 35px 35px 5px rgb(0 0 0 / 20%);
    transition: all 0.3s;
    transform: scale(1);
}

.css-home .css-home-image-frame .css-home-image:hover {
    transform: scale(1.1);
}

.css-home-explore {
    margin-top: 175px;
}

.css-home-explore .css-title {
    color: #e31937;
    opacity: .75;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    -webkit-user-select: none; /*(Chrome/Safari/Opera)*/ 
    -moz-user-select: none;/*(Firefox)*/ 
    -ms-user-select: none;/*(IE/Edge)*/ 
}

.css-home-explore .css-des {
    opacity: .75;
    color:#40404c;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 85px;
    -webkit-user-select: none; /*(Chrome/Safari/Opera)*/ 
    -moz-user-select: none;/*(Firefox)*/ 
    -ms-user-select: none;/*(IE/Edge)*/ 
}

.css-home-explore .css-examples {
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: center;
}

.css-home-explore .css-examples .css-examples-image {
    width: 360px;
    height: 420px;
    margin-bottom: 95px;
    border-radius: 15px;
    box-shadow: 0 20px 20px 5px rgb(0 0 0 / 20%);
    transition: all 0.3s;
    margin-top: 0px;
    margin-bottom: 35px;
    margin-left: 17.5px;
    margin-right: 17.5px;
}

.css-home-explore .css-examples .css-examples-image:hover {
    transform: scale(1.1);
}

.css-photo-store {
    margin-top: 175px;
}

.css-photo-store .css-title {
    color: #40404c;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    -webkit-user-select: none; /*(Chrome/Safari/Opera)*/ 
    -moz-user-select: none;/*(Firefox)*/ 
    -ms-user-select: none;/*(IE/Edge)*/ 
}

.css-photo-store .css-des {
    opacity: .75;
    color:#40404c;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    -webkit-user-select: none; /*(Chrome/Safari/Opera)*/ 
    -moz-user-select: none;/*(Firefox)*/ 
    -ms-user-select: none;/*(IE/Edge)*/ 
}

.css-photo-store .css-filters {
    display: flex;
    width: 60%;
    height: 75px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 2px;
}

.css-photo-store .css-filters .css-filter-item {
    height: 45px;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    color: #40404c;
    background-color: #f8f8f8;
    border: 2px solid #40404c;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 15px;
    cursor: pointer;
    opacity: .75;
    -webkit-user-select: none; /*(Chrome/Safari/Opera)*/ 
    -moz-user-select: none;/*(Firefox)*/ 
    -ms-user-select: none;/*(IE/Edge)*/ 
}

.css-photo-store .css-filters .css-filter-item:hover {
    color: #e31937;
    border: 2px solid #e31937;
}

.css-photo-store .css-filters .css-filter-item-active {
    height: 45px;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    color: #40404c;
    background-color: #f8f8f8;
    border: 2px solid #40404c;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 15px;
    -webkit-user-select: none; /*(Chrome/Safari/Opera)*/ 
    -moz-user-select: none;/*(Firefox)*/ 
    -ms-user-select: none;/*(IE/Edge)*/ 
}

.css-photo-store .css-display {
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: center;
    max-width: 75%;
    flex-wrap: wrap;
    margin-top: 0px;
}

.css-photo-store .css-display .css-item {
    width: 360px;
    height: 420px;
    margin-bottom: 95px;
    transition: all 0.3s;
    margin-top: 0px;
    margin-bottom: 35px;
    margin-left: 17.5px;
    margin-right: 17.5px;
    display: block;
    background-color: transparent;
    background-size: cover;
    border-radius: 15px;
    border: 0px;
}

.css-photo-store .css-display .css-item:hover {
    cursor: pointer;
}

.css-photo-store .css-display .css-item:hover .css-download {
    visibility: visible;
}

.css-photo-store .css-display .css-item .css-download {
    visibility: hidden;
    width: 360px;
    height: 420px;
    background-image: url("./download.png");
    opacity: .85;
    border-radius: 15px;
}

.css-photo-store .css-display .css-item .css-download .css-buttons {
    width: 300px;
    height: 175px;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
}

.css-photo-store .css-display .css-item .css-download .css-buttons a {
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    color: #40404c;
    width: 300px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 0px solid;
}

.css-photo-store .css-display .css-item .css-download .css-buttons a:hover {
    color: #e31937;
    background-color: #e9e7e7;
    border-radius: 5px;
    border: 0px solid;
    cursor: pointer;
}

.css-about {
    margin-top: 175px;
}

.css-about .css-title {
    color: #40404c;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    -webkit-user-select: none; /*(Chrome/Safari/Opera)*/ 
    -moz-user-select: none;/*(Firefox)*/ 
    -ms-user-select: none;/*(IE/Edge)*/ 
}

.css-about .css-des {
    opacity: .75;
    color:#40404c;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 85px;
    max-width: 65%;
    -webkit-user-select: none; /*(Chrome/Safari/Opera)*/ 
    -moz-user-select: none;/*(Firefox)*/ 
    -ms-user-select: none;/*(IE/Edge)*/ 
}